@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
h2 img a:active,
a:active{color:#764dbe !important}
body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'PT Sans Narrow', sans-serif !important;
}
.header{
    height: 80px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.header .logo {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-transform: uppercase;
}
/*logo del CroosPh*/

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.header ul li {
    list-style: none;
    margin: 0 10px;
}
.header ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000 !important;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.header ul li a.active, .header ul li a:hover {
    background: #764dbe !important;
    color: #fff !important;
}

.fa-times.x2, .fa-bars.x2 {
    font-size: 28px;
    cursor: pointer;
    display: none;
}


@keyframes rotate
{
	0%
	{
		transform: rotate(45deg);
	}
	100%
	{
		transform: rotate(405deg);
	}
}


@media(max-width:991px){
	
	.fa-bars.x2{
		display: block;
		position: absolute;
		top: 20px;
		right: 40px;
    }
    .header ul{
		position: fixed;
		background:#fff;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		z-index: 1010;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: scroll;
	}
	.header ul.show{
		display: flex;
	}
	.header ul li{
		margin: 10px 0;
	}
}